<!-- NAVBAR -->
<mat-toolbar color="primary" class="navbar">
    <span class="title">Employee Report</span>

    <span class="spacer"></span>

    <button mat-raised-button color="accent" (click)="exportCSV()">Export CSV</button>
    <button mat-raised-button color="warn" (click)="exportPDF()">Export PDF</button>
</mat-toolbar>

<div class="dashboard">

    <!-- TOP GRID -->
    <div class="top-grid">

        <!-- LEFT CARDS -->
        <div class="card-section">

            <mat-card class="stat-card orange">
                <p>Total Employee</p>
                <h2>{{ Estatus?.ecount }}</h2>
            </mat-card>

           

            <mat-card class="stat-card blue">
                <p>Active Employee</p>
                <h2>{{ Estatus?.sactive }}</h2>
            </mat-card>

            <mat-card class="stat-card red">
                <p>Inactive Employee</p>
                <h2>{{ Estatus?.sinactive }}</h2>
            </mat-card>

        </div>

        <!-- RIGHT CHART -->
        <mat-card class="chart-card">
            <h3>Employee</h3>
            <canvas id="employeeChart"></canvas>
        </mat-card>

    </div>

    <!-- TABLE -->
    <mat-card class="table-card">
        <h3>Employees List</h3>

        <table mat-table [dataSource]="Empdata">

            <ng-container matColumnDef="employeeId">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let e">{{ e.employeeId }}</td>
            </ng-container>

            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef>First</th>
                <td mat-cell *matCellDef="let e">{{ e.firstName }}</td>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef>Last</th>
                <td mat-cell *matCellDef="let e">{{ e.lastName }}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let e">{{ e.email }}</td>
            </ng-container>

            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef>Gender</th>
                <td mat-cell *matCellDef="let e">{{ e.gender }}</td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let e">
                    <span class="status active" *ngIf="e.status === 'Active'">Active</span>
                    <span class="status inactive" *ngIf="e.status !== 'Active'">Inactive</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="joiningDate">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let e">{{ e.joiningDate }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>

    </mat-card>

</div>